body{
    font-family: arial, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url('images/backgroungbmw.jpg');
    color: #fff;
}

h1{
    font-size: 60px;
    color:aqua;
    text-align: center;
    image-orientation: center;
    background: grey;
}

nav li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}